<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback form</title>
    <style>
        *{
            margin: 0;
            padding: 2vh 0vh;
            text-align: center;
            font-size: xx-large;
        }
        #textbox{
            background-color:skyblue;
             font-size: xx-large;
            height: 50vh;
            width: 50vw;

        }
        #submit{
            height: 9vh;
            width: 8vw;
            background-color: lightgreen;
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="#">
    
        <textarea name="feedback2"  id="textbox" cols="30" rows="10">give you feedback
        </textarea><br>
            <input type="submit" id="submit">
    

    </form>
</body>
</html>